*{
 margin:0;
 padding:0;
}
body {
 font:14px/1.3 Arial,sans-serif;
}

.container {

 margin: 20px auto;
 overflow: hidden;
 position: relative;
 width: 800px;
}
#scene {
 background-color: #f3f4ef; border: 1px solid #dedede; padding: 5px;
 position:relative;
}

.sidebar {
background-color: black;

}